.AlertWarning {
  width: 288px;
  height: 64px;
  display: flex;
  margin-top: 3rem;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 16px;
  text-align: left;
  border-radius: 4px;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  background-color: #dd0000;
  animation: fadeAnimation 1s linear 0s 1 normal forwards;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
