.cardButton {
  width: 100% !important;
  height: 100% !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  background: none !important;
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
}

.cardButton:hover,
.cardButton:active {
  background: none !important;
}
