.input {
  width: 100%;
  height: auto;
  font-size: 16px;
  z-index: 1;
  cursor: pointer;
  color: #000;
}

.input:focus,
.input:hover {
  outline: none;
}

.fieldset {
  width: 100%;
  color: #818388;
  height: auto;
  font-size: 12px;
  border-radius: 4px;
  margin-top: 1.5rem;
  border: 1px solid #0000003b;
  padding: 0.5rem 12px 1rem 12px;
}

.fieldset:hover {
  border: 1px solid #000;
  transition: 0.1s;
}

.error {
  color: #f31;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  z-index: 2;
}
